@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-1 .navbar-toggler {
  color: #000000;
}
#header1-0 H1 {
  color: #1d0f0f;
}
#header1-0 P {
  color: #000000;
}
#msg-box3-g .mbr-header .mbr-header__text {
  text-align: center;
  color: #1d0f0f;
}
#msg-box3-g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#features1-k P {
  color: #ffffff;
}
#features1-k .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#msg-box5-h .mbr-header__text {
  color: #ffffff;
}
#msg-box5-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-h .mbr-article {
  color: #ffffff;
}

#dropdown-menu-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-v .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-v .nav .link,
#dropdown-menu-v .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-v .navbar,
#dropdown-menu-v .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-v .dropdown-menu a:hover,
#dropdown-menu-v .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-v .navbar-toggler {
  color: #000000;
}
#header3-1b H3 {
  color: #41a85f;
}

#dropdown-menu-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-y .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-y .nav .link,
#dropdown-menu-y .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-y .navbar,
#dropdown-menu-y .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-y .dropdown-menu a:hover,
#dropdown-menu-y .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-y .navbar-toggler {
  color: #000000;
}

#dropdown-menu-11 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-11 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-11 .nav .link,
#dropdown-menu-11 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-11 .navbar,
#dropdown-menu-11 .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-11 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-11 .dropdown-menu a:hover,
#dropdown-menu-11 .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-11 .navbar-toggler {
  color: #000000;
}
#header3-22 P {
  color: #b8312f;
}

#header4-16 H1 {
  color: #000000;
}
#header4-16 P {
  color: #28324e;
}
#header3-18 H3 {
  color: #7ac673;
}
#features1-14 P {
  color: #ffffff;
}
#features1-14 .mbr-section__col .mbr-header__text {
  color: #f7da64;
}
#dropdown-menu-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-s .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-s .nav .link,
#dropdown-menu-s .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-s .navbar,
#dropdown-menu-s .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-s .dropdown-menu a:hover,
#dropdown-menu-s .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-s .navbar-toggler {
  color: #000000;
}

#dropdown-menu-1i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1i .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1i .nav .link,
#dropdown-menu-1i .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-1i .navbar,
#dropdown-menu-1i .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-1i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1i .dropdown-menu a:hover,
#dropdown-menu-1i .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-1i .navbar-toggler {
  color: #000000;
}

#dropdown-menu-1q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1q .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-1q .nav .link,
#dropdown-menu-1q .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-1q .navbar,
#dropdown-menu-1q .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-1q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1q .dropdown-menu a:hover,
#dropdown-menu-1q .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-1q .navbar-toggler {
  color: #000000;
}

#header4-29 H1 {
  color: #000000;
}
#header3-2b H3 {
  font-size: 46px;
}
#dropdown-menu-23 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-23 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-23 .nav .link,
#dropdown-menu-23 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-23 .navbar,
#dropdown-menu-23 .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-23 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-23 .dropdown-menu a:hover,
#dropdown-menu-23 .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-23 .navbar-toggler {
  color: #000000;
}

#dropdown-menu-31 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-31 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-31 .nav .link,
#dropdown-menu-31 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-31 .navbar,
#dropdown-menu-31 .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-31 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-31 .dropdown-menu a:hover,
#dropdown-menu-31 .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-31 .navbar-toggler {
  color: #000000;
}
#msg-box3-38 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-38 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-38 .mbr-article {
  text-align: center;
}

#header4-3e H1 {
  color: #1d0f0f;
}
#dropdown-menu-39 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-39 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-39 .nav .link,
#dropdown-menu-39 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-39 .navbar,
#dropdown-menu-39 .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-39 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-39 .dropdown-menu a:hover,
#dropdown-menu-39 .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-39 .navbar-toggler {
  color: #000000;
}

#dropdown-menu-3f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3f .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-3f .nav .link,
#dropdown-menu-3f .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-3f .navbar,
#dropdown-menu-3f .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-3f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3f .dropdown-menu a:hover,
#dropdown-menu-3f .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-3f .navbar-toggler {
  color: #000000;
}
#msg-box2-3j .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3j .mbr-article {
  color: #252525;
}

#dropdown-menu-3q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3q .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-3q .nav .link,
#dropdown-menu-3q .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-3q .navbar,
#dropdown-menu-3q .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-3q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3q .dropdown-menu a:hover,
#dropdown-menu-3q .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-3q .navbar-toggler {
  color: #000000;
}
#msg-box2-3w .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-3w .mbr-article {
  color: #252525;
}

#dropdown-menu-40 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-40 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-40 .nav .link,
#dropdown-menu-40 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-40 .navbar,
#dropdown-menu-40 .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-40 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-40 .dropdown-menu a:hover,
#dropdown-menu-40 .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-40 .navbar-toggler {
  color: #000000;
}

#header4-48 H1 {
  color: #1d0f0f;
}
#dropdown-menu-45 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-45 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-45 .nav .link,
#dropdown-menu-45 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-45 .navbar,
#dropdown-menu-45 .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-45 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-45 .dropdown-menu a:hover,
#dropdown-menu-45 .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-45 .navbar-toggler {
  color: #000000;
}
#msg-box2-49 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-49 .mbr-article {
  color: #252525;
}

#dropdown-menu-4p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-4p .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu-4p .nav .link,
#dropdown-menu-4p .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-4p .navbar,
#dropdown-menu-4p .dropdown-menu {
  background: #efefef;
}
#dropdown-menu-4p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-4p .dropdown-menu a:hover,
#dropdown-menu-4p .dropdown-menu a:focus {
  background: #e5e5e5;
}
#dropdown-menu-4p .navbar-toggler {
  color: #000000;
}
#header4-4s H1 {
  color: #1d0f0f;
}
#msg-box3-4x .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-4x .mbr-header .mbr-header__subtext {
  text-align: center;
}
